<!DOCTYPE html>
<title> Review Your Maths </title>
<head>
  {% load static %}
  <link rel="stylesheet" href="{% static 'questions/css/the.css' %}">
  <script src="{% static 'questions/js/eval_and_submit.js'%}"></script>
</head>
{% if questions_list %}
    <ol>
    {% for qid,text,graphic,meta,answer, answer_graphic in questions_list %}
        <li >{{ text }}
            {% if graphic %}
                <div class="qi"><img src="data:image/png;base64,{{graphic}}"></div>
            {% endif %}
        </li>
        <br>
        <div >
            {% csrf_token %} 
            <input type="text" id="user_input" placeholder="Type in your answer here">
            <input type="hidden" id="correct_answer" value="{{answer}}" />
            <input type="hidden" id="meta" value="{{meta}}" />
	        <button onclick="EvalAndSubmit('{{qid}}')">Check</button>
    	    <div id="hidden_answer_{{qid}}" style="display:none;">
                {% if answer %}
                    <br>{{answer}}
                {% endif %}
                {% if answer_graphic %}
                    <div class="qi"><img src="data:image/png;base64,{{answer_graphic}}"></div>
                {% endif %}
                <br>{{meta}}
            </div>
        </div>
        <br>
    {% endfor %}
    </ol>    
{% else %}
    <p>No Question found.</p>
{% endif %}
