<!DOCTYPE html>
<head>
  {% load static %}
  <link rel="stylesheet" href="{% static 'questions/css/the.css' %}">
  <script src="{% static 'questions/js/eval_and_submit.js'%}"></script>
</head>
{% if questions_list %}
    <ol>
    {% for qid,text,graphic,meta,answer in questions_list %}
        {% if graphic %}
        	<li >{{ text }}<div class="qi"><img src="data:image/png;base64,{{graphic}}"></div></li>
        {% else %}
        <li > {{ text }}</li>
        {% endif %}
        <br>
        <div >
            {% csrf_token %} 
            <input type="text" id="user_input" placeholder="Type in your answer here">
            <input type="hidden" id="correct_answer" value="{{answer}}" />
            <input type="hidden" id="meta" value="{{meta}}" />
    	    <div id="check_result_{{qid}}"></div>
	        <button onclick="EvalAndSubmit('{{qid}}','{{answer}}','{{meta}}')">Check</button>
        </div>
        <br>
    {% endfor %}
    </ol>    
{% else %}
    <p>No Question found.</p>
{% endif %}
