<!DOCTYPE html>
<head>
  {% load static %}
  <link rel="stylesheet" href="{% static 'questions/css/the.css' %}">
</head>
{% if questions_list %}
    <ol>
    {% for text,graphic in questions_list %}
        {% if graphic %}
        	<li >{{ text }}<div class="qi"><img src="data:image/png;base64,{{graphic}}"></div></li>
        {% else %}
        <li > {{ text }}</li>
            <br><br><br><br><br>
        {% endif %}
    {% endfor %}
    </ol>    
{% else %}
    <p>No Question found.</p>
{% endif %}
